body {
    margin: 0px;
}

* {
    box-sizing: border-box;
    cursor: default;
}

.Box-Site{
    display: flex;
    flex-direction: column;
}

.Barra{
    display: flex;
    flex-direction: row;
    padding: 0.5em 1em;
    justify-content: space-between;
    font-family: Alatsi;

    align-items: center;
    color: white;
    background-color: #78290F;
    font-size: 30px;
}

.Barra img{
    height: 50px;
    width: 50px;
    
}

.box-text-cabecalho{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.img-adm{
    margin: 0em 1em;
}

.background-informacoes{
    display: flex;
    flex-direction: column;
}

