@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

body {
  margin: 0;
}

*{
  box-sizing: border-box;
  font-family: 'Roboto';
  cursor: default;
}

img, button, a{
  cursor: pointer;
}

a{
  text-decoration: none;
}

input{
  padding: 0em 1.3em;
}
