body {
    margin: 0px;
}

* {
    box-sizing: border-box;
    cursor: default;
}

button{
    cursor: pointer;
}


.Box-Site{
    display: flex;
    flex-direction: column;
}

.Barra{
    display: flex;
    flex-direction: row;
    padding: 0.5em 1em;
    justify-content: space-between;
    font-family: Alatsi;

    align-items: center;
    color: white;
    background-color: #78290F;
    font-size: 30px;
}

.Barra img{
    height: 50px;
    width: 50px;
    
}

.box-text-cabecalho{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.img-adm{
    margin: 0em 1em;
}

.Informacoes{
    margin: 0em 0em 1em 5em;
    color: white;
    font-size: 28px;
}

.background-informacoes{
    display: flex;
    flex-direction: column;

    padding: 3em;
    background-color: #CBA28C;
    min-height: 75vh;
}

.box-funcionalidades{
    display: flex;
    justify-content: center;
}



.box-produtos{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 2em;
    min-width: 80vw;
    min-height: 52vh;
    background-color: #F3EAD7;
    border-radius: 10px;
}

.box-produtos input{
    padding: 1.5em 2em;
    margin-bottom: 2em;
    border-radius: 10px;
    border: none;
}



.box-produto{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 1em;
    background-color: #FFFFFF;
    padding: 0.5em 1em;
    border-radius: 10px;
    border-bottom:solid #BBAEAE;
}

.produto-info{
    margin: 0em 1em;
}

.box-botoes button{
    border: none;
    border-radius: 10px;
    padding: 0.3em 0.8em;
}

.alterar button{
    background-color: #7CCF13;
    margin-bottom: 0.5em;
}

.deletar button{
    background-color: #FF3838;
}

.Faixa{
    display: flex;
    background-color: #78290F;
    height: 10vh;    
}
