body {
    margin: 0px;
}

* {
    box-sizing: border-box;
    cursor: default;
}

.Box-Site{
    display: flex;
    flex-direction: column;
}

.Barra{
    display: flex;
    flex-direction: row;
    padding: 0.5em 1em;
    justify-content: space-between;
    font-family: Alatsi;

    align-items: center;
    color: white;
    background-color: #78290F;
    font-size: 30px;
}

.Barra img{
    height: 50px;
    width: 50px;
    
}

.box-text-cabecalho{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.img-adm{
    margin: 0em 1em;
}

.background-login{
    display: flex;
    flex-direction: column;

    justify-content: center;
    background-color: #CBA28C;
}

.Login{
    display: flex;
    flex-direction: column;
    min-height: 75vh;

    align-items: center;
    padding: 1.2em 4em;
    width: 30em;
    background-color: #F3EAD7;
    align-self: center;
}

.Titulo{
    font-family: Asul;
    margin-bottom: 3em;
    font-size: 30px;
}

.Login input{
    margin-bottom: 1em;
    border: none;
    border-radius: 10px;
    padding: 1em 1em;
    width: 20em;
}



.Login button{
    margin-top: 3em;
    background-color: #8FDB53;
    border: none;
    padding: 0.7em 1em;
    width: 10em;
    border-radius: 20px;
}

.Faixa{
    height: 11.2vh;
    background-color: #78290F;
}
